[submodule "Assets/DagUnityFramework/DaftAppleCore-DARSKERRY"]
	path = Assets/DagUnityFramework/DaftAppleCore-DARSKERRY
	url = https://github.com/mroshaw/daftapple-core.git
[submodule "Assets/DagUnityFramework/BuildingTools-DARSKERRY"]
	path = Assets/DagUnityFramework/BuildingTools-DARSKERRY
	url = https://github.com/mroshaw/building-tools.git
[submodule "Assets/DagUnityFramework/UiAndSettings-DARSKERRY"]
	path = Assets/DagUnityFramework/UiAndSettings-DARSKERRY
	url = https://github.com/mroshaw/ui-and-settings.git
[submodule "Assets/DagUnityFramework/TimeAndWeather-DARSKERRY"]
	path = Assets/DagUnityFramework/TimeAndWeather-DARSKERRY
	url = https://github.com/mroshaw/hdrp-time-and-weather.git
[submodule "Assets/DagUnityFramework/CharacterController-DARSKERRY"]
	path = Assets/DagUnityFramework/CharacterController-DARSKERRY
	url = https://github.com/mroshaw/character-controller.git
