[submodule "Assets/DagUnityFramework/daftapple-core"]
	path = Assets/DagUnityFramework/daftapple-core-DARSKERRY
	url = https://github.com/mroshaw/daftapple-core.git
[submodule "Assets/DagUnityFramework/hdrp-time-and-weather"]
	path = Assets/DagUnityFramework/hdrp-time-and-weather-DARSKERRY
	url = https://github.com/mroshaw/hdrp-time-and-weather.git
[submodule "Assets/DagUnityFramework/ui-and-settings"]
	path = Assets/DagUnityFramework/ui-and-settings-DARSKERRY
	url = https://github.com/mroshaw/ui-and-settings.git
[submodule "Assets/DagUnityFramework/character-controller"]
	path = Assets/DagUnityFramework/tp-character-controller-DARSKERRY
	url = https://github.com/mroshaw/character-controller.git
[submodule "Assets/DagUnityFramework/building-tools/building-tools-DARSKERRY"]
	path = Assets/DagUnityFramework/building-tools/building-tools
	url = https://github.com/mroshaw/building-tools.git
